-if(account)
  h2(style='font-weight:bold;padding-bottom:5px;') Whats Your question?
  form(#myForm action='/nod',method='post')
    textarea(name='nod',style='width:550px;')
    br
    br
    input(#wall type='submit',value='Post to Wall',style='background-color:#000000;border:solid;border-color:#666666;border-width:1px;color:#E3E3E3;padding:5px;font-weight:bold;cursor:pointer;position:relative;top:-15px;margin-left:5px;')
    input(#send  type='submit',value='Send to Friends',style='background-color:#000000;border:solid;border-color:#666666;border-width:1px;color:#E3E3E3;padding:5px;font-weight:bold;cursor:pointer;position:relative;top:-15px;margin-left:5px;')
  div
      script(src='http://connect.facebook.net/en_US/all.js')
      script (src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
      #fb-root
      script
        var postOrSend=true;
        $(document).ready($('#myForm')).submit(function(event){
                
            });
        $(document).ready(function(){
              $("#wall").click(function(){
                  $('#myForm').attr({action: "/nod"});
                  $('#myForm').submit();
                  postOrSend=true;
              });
              $("#send").click(function(){
                  $('form#myForm').attr({action: "/nod"});
                  $('form#myForm').submit();
                  postOrSend = false;
              });
          });
        function postToFriends() {
            FB.init({appId: '172451406173427', xfbml: true, cookie: true});
            FB.ui({
                method: 'send',
                name: 'Community Mirror',
                message: nods[0].text,
                link: 'http://www.nytimes.com/2011/06/15/arts/people-argue-just-to-win-scholars-assert.html',
                });
              }
  div(style='width:600px;')
    -for(var i=0;i<nods.length;i++)
      div(style='background-color:#000000;padding:10px;margin-top:5px;border:solid;border-color:#666666;border-width:1px;')
        div
          a(href='/'+nods[i]._id,style='padding-right:10px;')=nods[i].text
        span='Yes  '+nods[i].yes
        br
        span='No   '+nods[i].no
        div(style='color:#999999;font-size:12px;')=howLongAgo(nods[i].date)+' ago'
